* {
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
    font-size: 14px;
}


.container-bank {
    background: linear-gradient(to bottom, #245e69, #85aeaa);
    bottom: 0;
    color: #e3e3e3;
    display: block;
    left: 0;
    padding-top: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
h1 {
    font-size: 60px;
    font-weight: normal;
}
/* * The Card * * ==================== */
.cc, .cc-back {
    background-color: #0e0e0e;
    border-radius: 10px;
    display: block;
    height: 195px;
    letter-spacing: 0.1rem;
    margin: 60px auto;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 325px;
}
.chip {
    background: #efb77f;
    border-radius: 5px;
    display: block;
    height: 30px;
    left: 30px;
    position: absolute;
    top: 50px;
    width: 40px;
}
.nubank-logo {
    background-image: url('https://www.nubank.com.br/images/eeb5478f.header_logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 80px;
    display: block;
    filter: grayscale(100%);
}
.nubank-logo:after {
    background: linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: 'Platinum';
    display: block;
    text-align: center;
    padding-top: 60px;
}
.cc-number {
    background: linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 75px;
    font-size: 20px;
    left: 30px;
    position: absolute;
}
.cc-date {
    background: linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 40px;
    left: 30px;
    position: absolute;
}
.cc-date.expiry {
    left: 125px;
}
.cc-date.expiry:after {
    -webkit-text-fill-color: #52185b;
    content: 'Valid thru';
    font-size: 8px;
    left: -30px;
    position: absolute;
    text-transform: none;
    top: -10px;
}
.cc-name {
    background: linear-gradient(#eee, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 15px;
    left: 30px;
    position: absolute;
}
/* * Card back */
.cc-magnet {
    background-color: #c0c0c0;
    display: block;
    height: 30px;
    position: absolute;
    top: 15%;
    width: 100%;
}
/* * MasterCard logo in pure CSS in just ONE element * by Jaime Caballero (jaicab.com) */
.mastercard {
    font-family: "Droid Sans", Helvetica, sans-serif;
    position: absolute;
    width: 5rem;
    font-size: 12px;
    line-height: 3rem;
    letter-spacing: -0.0666666667rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: -0.04rem 0.04rem 0 #16226a;
    text-transform: none;
    top: -45px;
    right: 30px;
    margin: 16vh auto;
    z-index: 2;
}
.mastercard::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    background: linear-gradient(#fe9900 50%, #cd0001 50%);
    background-size: 0.375rem 0.375rem;
    box-shadow: 2rem 0 0 0 #fe9900, 2rem 0 0 0 #cd0001 inset;
}
.mastercard::after {
    content: '\00ae';
    padding-left: 0.5em;
    font: 0.25em Helvetica, sans-serif lighter normal;
    text-shadow: none;
}
.cirrus {
    font-family: "Droid Sans", Helvetica, sans-serif;
    position: absolute;
    width: 4em;
    font-size: 12px;
    line-height: 2rem;
    letter-spacing: -0.0666666667rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: -0.04rem 0.04rem 0 #16226a;
    text-transform: none;
    top: -20px;
    left: 15px;
    margin: 20vh auto;
    z-index: 2;
}
.cirrus::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    z-index: -1;
    background: linear-gradient(#0085c6 50%, #345399 50%);
    background-size: 0.375rem 0.375rem;
    box-shadow: 1.3333333333rem 0 0 0 #0085c6, 1.3333333333rem 0 0 0 #345399 inset;
}
.cirrus::after {
    content: '\00ae';
    font: 0.25em Helvetica, sans-serif lighter normal;
    padding-left: 0.5em;
    text-shadow: none;
}
 